{{#each children}} {{! Each item is an "li" }}
    <li class="js-browse__item" data-url="{{#if uri}}{{uri}}{{else}}/{{description.title}}{{/if}}" >
        <span class="page__container">
            <span class="js-browse__item-title page__item{{#unless uri}} page__item--directory{{else}} page__item--{{type}}{{/unless}} {{#if_eq description.title 'visualisations'}}datavis-directory{{/if_eq}}">{{description.title}}</span>
            <div class="page__buttons page__buttons--list">
                {{#unless uri}}<button class="btn btn--positive btn-browse-create-datavis">Upload visualisation</button>{{/unless}}
                {{#if uri}}
                    <button class="btn btn--primary btn-browse-edit">Edit</button>
                {{/if}}
            </div>
        </span>
        {{#if children}} {{! Within the context of the current item }}
            <ul class="js-browse__children">
                {{> browseNodeDataVis}} {{! Recursively render the partial }}
            </ul>
        {{/if}}
    </li>
{{/each}}