{{#each children}} {{! Each item is an "li" }}
  <li class="js-browse__item" data-url="{{uri}}">
    <span class="page-container">
        <span class="js-browse__item-title page-item{{#unless uri}} page-item--directory{{else}} page-item--{{type}}{{/unless}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</span>
        <div class="page-options page-options--list">
            <button class="btn-browse-edit">Edit</button>
            <button class="btn-browse-create">Create</button>
            {{#if isDeletable}}<button class="btn-browse-delete">Delete</button>{{/if}}
        </div>
    </span>
    {{#if children}} {{! Within the context of the current item }}
        <ul class="js-browse__children">
            {{> browseNode}} {{! Recursively render the partial }}
        </ul>
    {{/if}}
  </li>
{{/each}}