{{#each children}} {{! Each item is an "li" }}
  <li class="js-browse__item {{#unless uri}}js-browse__item--directory{{/unless}}" data-url="{{uri}}">
    <span class="page__container">
        <span class="js-browse__item-title page__item{{#unless uri}} page__item--directory{{else}} page__item--{{type}}{{/unless}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</span>
        <div class="page__buttons page__buttons--list">
            <button class="btn-browse-edit">Edit</button>
            <button class="btn-browse-create">Create</button>
            {{#if isDeletable}}<button class="btn-browse-delete">Delete</button>{{/if}}
        </div>
    </span>
    {{#if children}} {{! Within the context of the current item }}
        <ul class="js-browse__children">
            {{> browseNode}} {{! Recursively render the partial }}
        </ul>
    {{/if}}
  </li>
{{/each}}