{{#each children}} {{! Each item is an "li" }}
  <li data-url="{{uri}}">
    <span class="page-item{{#unless uri}} page-item--directory{{else}} page-item--{{type}}{{/unless}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</span>
    <div class="page-options">
      <button class="btn-browse-edit">Edit</button>
      <button class="btn-browse-create">Create</button>
      <button class="btn-browse-delete">Delete</button>
    </div>
    {{#if children}} {{! Within the context of the current item }}
        <ul>
          {{> browseNode}} {{! Recursively render the partial }}
        </ul>
    {{/if}}
  </li>
{{/each}}