<div class="chart-builder overlay">
  <div class="chart-builder__inner">
    <!-- <h1>Chart Builder</h1> -->

    <div id="edit-chart" class="chart-builder__editor">

      <input type="text" id="chart-title" placeholder="[Title]" value="{{title}}"/>
      <input type="text" id="chart-subtitle" placeholder="[Subtitle]" value="{{subtitle}}"/>
      <input type="text" id="chart-unit" placeholder="[Unit]" value="{{unit}}"/>
      <input type="text" id="chart-source" placeholder="[Source]" value="{{source}}"/>

      <textarea id="chart-data" placeholder="Paste your data here" rows="4" cols="120"></textarea>
      <br/>

      <label>Alt text <br>
        <input type="text" id="chart-alt-text" placeholder="[Alt text]" value="{{altText}}"/>
      </label>

      <label>Chart type <br>
        <select id="chart-type">
            {{#select chartType}}
              <option value="bar">Bar Chart</option>
              <option value="line">Line Chart</option>
              <option value="barline">Bar + Line Chart</option>
              <option value="rotated">Bar Chart (rotated)</option>
              <!--<option value="stackedArea">Stacked Area</option>-->
              <!--<option value="stackedPercent">Stacked Percent</option>-->
              <!--<option value="pyramid">Pyramid</option>-->
            {{/select}}
        </select>
      </label>

      <div id="barline">

      </div>

      <label>Label interval<br>
        <input type="text" id="chart-label-interval" placeholder="[Label interval]" value="{{labelInterval}}"/>
      </label>

      <label>Decimal places<br>
        <input type="text" id="chart-decimal-places" placeholder="[Decimal places]" value="{{decimalPlaces}}"/>
      </label>

      <label>Aspect ratio<br>
        <select id="aspect-ratio">
            {{#select aspectRatio}}
              <option value="0.56">16:9</option>
              <option value="0.75">4:3</option>
              <option value="0.42">21:9</option>
              <option value="1">1:1</option>
              <option value="1.3">10:13</option>
            {{/select}}
        </select>
      </label>

      <textarea id="chart-notes" placeholder="Add chart notes here" rows="4" cols="120">{{notes}}</textarea>
      <br/>

    </div>

    <div id="preview-chart" class="chart-builder__preview">

    </div>

    <div class="chart-builder__footer">
        <button class="btn-chart-builder-create">Save Chart</button>
        <button class="btn-chart-builder-cancel">Cancel</button>
    </div>

  </div>


  <div id="hiddenDiv" style="display:none">
    <canvas id="hiddenCanvas"></canvas>

  </div>


  <div id="hiddenSvgForDownload"></div>
  <canvas id="hiddenCanvasForDownload"></canvas>

</div>