
{{#each this.annotations}}

    <div id="annotation-{{@index}}" class="chart-accordian refresh-chart">
    
        <h3 class="chart-accordian-header edit-section__head accordian__title">{{title}}</h3>
        <div class="chart-accordian-body accordian__content" >
           
           {{!-- <label>Chart type <br>
                <div class="select-wrap">
                    <select id="chart-type" class="">
                        {{#select targetDevice}}
                            <option value="mobile">Mobile</option>
                            <option value="desktop">Desktop</option>
                            <option value="tablet">Tablet</option>
                        {{/select}}
                    </select>
                </div>
            </label> --}}
            <button class="btn btn--warning btn-delete-section" id="delete-annotation-{{@index}}">Delete</button>
            <br/>
            <label for="chart-title">X Position
                <input type="text" id="note-x-{{@index}}" class="half" placeholder="[x]" value="{{x}}"/>
            </label>
            <label for="chart-title">Y Position
                <input type="text" id="note-y-{{@index}}" class="half" placeholder="[y]" value="{{y}}"/>
            </label>

            <br/>
            <label for="chart-notes">Notes</label>
                <textarea id="chart-notes-{{@index}}" class="" placeholder="Add annotation here" rows="4" cols="120">{{title}}</textarea>

            <br/>
            
            {{!-- <label class="checkbox-label-half refresh-aspect">Hide on this device size<input type="checkbox" id="is-hidden-{{@index}}" value="display_checkbox" class="inline-block" {{#if isHidden}}checked{{/if}} ></label> --}}
        </div>
    </div>

{{/each}}
