                            {{#if_eq chartType 'line'}}
                            {{#select highlight}}
                                <option value="0">No Highlight</option>
                            {{#each series}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                            {{else}}
                            {{#select highlight}}
                                <option value="0">No Highlight</option>
                            {{#each categories}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                            {{/if_eq}}