                <div id='' class="">
                <label for="show-tooltip" class="checkbox-label--small">Show tooltips</label>
                {{#if_eq showTooltip false}}
                <input id="show-tooltip" name="Show Tooltip" checked type="checkbox">
                {{else}}
                <input id="show-tooltip" name="Show Tooltip" checked type="checkbox">
                {{/if_eq}}
                </div>

                <div id='' class="">     
                <label for="show-marker" class="checkbox-label--small">Show marker points</label>
                <input id="show-marker" name="Show Marker" {{#if showMarker}}checked{{/if}} type="checkbox">
                </div>

            

                <br/>

                <label>X-axis position<br>
                    <div class="select-wrap">
                        <select id="position-x-axis" class="">
                            {{#select xAxisPos}}
                                <option value="bottom">bottom</option>
                                <option value="top">top</option>
                            {{/select}}
                        </select>
                    </div>
                </label>
                <label>Y-axis position{{ yAxisPos}}<br>
                    <div class="select-wrap">
                        <select id="position-y-axis" class="">
                            {{#select yAxisPos}}
                                <option value="left">left</option>
                                <option value="right">right</option>
                            {{/select}}
                        </select>
                    </div>
                </label>


               <br/>

                <label>Aspect ratio: Desktop<br>
                    <div class="select-wrap ">
                        <select id="aspect-ratio-desk" >
                            {{#select aspectRatio}}
                                <option value="0.56">16:9</option>
                                <option value="0.75">4:3</option>
                                <option value="0.42">21:9</option>
                                <option value="1">1:1</option>
                                <option value="1.3">10:13</option>
                            {{/select}}
                        </select>
                    </div>
                </label>
<br/>
                <label>Aspect ratio: Mobile<br>
                    <div class="select-wrap ">
                        <select id="aspect-ratio-mob" >
                            {{#select aspectRatioMobile}}
                                <option value="0.56">16:9</option>
                                <option value="0.75">4:3</option>
                                <option value="0.42">21:9</option>
                                <option value="1">1:1</option>
                                <option value="1.3">10:13</option>
                            {{/select}}
                        </select>
                    </div>
                </label>

                <label>Aspect ratio: Tablet<br>
                    <div class="select-wrap  ">
                        <select id="aspect-ratio-tad" >
                            {{#select aspectRatioTablet}}
                                <option value="0.56">16:9</option>
                                <option value="0.75">4:3</option>
                                <option value="0.42">21:9</option>
                                <option value="1">1:1</option>
                                <option value="1.3">10:13</option>
                            {{/select}}
                        </select>
                    </div>
                </label>

                



                <label>Label interval<br>
                <input type="text" id="chart-label-interval" class="refresh-chart" placeholder="[Label interval]"
                       value="{{labelInterval}}"/>
                </label>

                <br/>

 
                
                <label>Highlight Category<br>
                    <div class="select-wrap">
                        <select id="chart-highlight" class="">
                            {{#if_eq chartType 'line'}}
                            {{#select highlight}}
                                <option value="No Highlight">No Highlight</option>
                            {{#each series}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                            {{else}}
                            {{#select highlight}}
                                <option value="No Highlight">No Highlight</option>
                            {{#each categories}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                            {{/select}}
                            {{/if_eq}}
                        </select>
                    </div>
                </label>

                <br/>




                <label>Use configuration from existing chart<br>
                    <input type="text" id="chart-config-URL" class="loadExisting" placeholder="[URL]"
                           value="{{labelURL}}"/>
                </label>
                eg: 8bd65442, fc0d5bc1, 

                <br/> or /economy/grossdomesticproductgdp/articles/chartdemo/2017-01-05/27fabb49

