<div class="chart-builder overlay">
  <div class="chart-builder__inner">
    <!-- <h1>Chart Builder</h1> -->

    <div id="edit-chart" class="chart-builder__editor">

      <span class="refresh-text">
        <label for="chart-title">Title
            <input type="text" id="chart-title" placeholder="[Title]" value="{{title}}"/>
        </label>
        <label for="chart-subtitle">Sub-title
            <input type="text" id="chart-subtitle" placeholder="[Subtitle]" value="{{subtitle}}"/>
        </label>
        <label for="chart-source">Source
            <input type="text" id="chart-source" placeholder="[Source]" value="{{source}}"/>
        </label>
      </span>
        <label for="chart-unit">Units
            <input type="text" id="chart-unit" class="refresh-chart" placeholder="[Unit]" value="{{unit}}"/>
        </label>

        <label for="chart-data">Chart data</label>
            <textarea id="chart-data" class="refresh-chart" placeholder="Paste your data here" rows="4" cols="120"></textarea>

      <label for="chart-alt-text">Alt text</label>
        <textarea id="chart-alt-text" class="refresh-text" placeholder="[Alt text]">{{altText}}</textarea>

      <label>Chart type<br>
        <div class="select-wrap">
          <select id="chart-type" class="refresh-chart">
          {{#select chartType}}
            <option value="bar">Bar Chart</option>
            <option value="rotated">Bar Chart (rotated)</option>
            <option value="line">Line Chart</option>
            <option value="area">Area Chart</option>
            <option value="barline">Bar + Line Chart</option>
            <option value="rotated-barline">Bar + Line Chart (rotated)</option>
            <option value="dual-axis">Dual Axis</option>
            <option value="scatter">Scatter Plot Chart</option>
            <option value="pie">Pie Chart</option>
            <option value="population">Population Pyramid</option>
            <option value="confidence-interval">Confidence Interval</option>
            <option value="rotated-confidence-interval">Confidence Interval (rotated)</option>
            <option value="box-and-whisker">Box and Whisker</option>
          {{/select}}
        </select>
        </div>
      </label>

      <label>Aspect ratio<br>
        <div class="select-wrap">
          <select id="aspect-ratio" class="refresh-chart">
            {{#select aspectRatio}}
              <option value="0.56">16:9</option>
              <option value="0.75">4:3</option>
              <option value="0.42">21:9</option>
              <option value="1">1:1</option>
              <option value="1.3">10:13</option>
            {{/select}}
          </select>
        </div>
      </label>

      <div id="extras" class="refresh-chart">

      </div>

      <label>Label interval<br>
        <input type="text" id="chart-label-interval" class="refresh-chart" placeholder="[Label interval]" value="{{labelInterval}}"/>
      </label>

      <label>Decimal places<br>
        <input type="text" id="chart-decimal-places" class="refresh-chart" placeholder="[Decimal places]" value="{{decimalPlaces}}"/>
      </label>


      <label for="chart-alt-text">X axis label</label>
        <input type="text" id="chart-x-axis-label" style="width: 99.7%" class="refresh-chart" placeholder="[X axis label]" value="{{xAxisLabel}}"/>

        <label for="chart-notes">Notes</label>
        <textarea id="chart-notes" class="refresh-text" placeholder="Add chart notes here" rows="4" cols="120">{{notes}}</textarea>
    </div>


    <div id="preview-chart" class="chart-builder__preview">

      <span id="chart-title-preview"></span>
      </br>
      <span id="chart-subtitle-preview"></span>
      
      <div id="chart"></div>
      

      <span id="chart-source-preview"></span>
      <span id="chart-notes-preview"></span>
        
    </div>

    <div class="chart-builder__footer">
        <button class="btn-chart-builder-create">Save chart</button>
        <button class="btn-chart-builder-cancel">Cancel</button>
    </div>

  </div>


  <div id="hiddenDiv" style="display:none">
    <canvas id="hiddenCanvas"></canvas>

  </div>


  <div id="hiddenSvgForDownload"></div>
  <canvas id="hiddenCanvasForDownload"></canvas>

</div>