<div class="section-head">
  <h2>{{name}}</h2>
  <p>Publish: {{date}}</br>{{createdBy events}}</p>
  <button class="btn-collection-edit">Edit collection</button>
</div>
<div class="section-content">
  <h3 id="in-progress-uris">{{inProgress.length}} pages in progress</h3>
  <ul class="page-list">
    {{#each inProgress}}
      <li><span class="page-item page-item--{{type}}">{{#ifCond description.language '===' 'cy'}}(Welsh)
      {{/ifCond}}{{description
      .title}}{{#if description.edition}}: {{description.edition}}{{/if}} ({{lastEditedBy events}})</span>
        <div class="page-options">
          <button class="btn-page-edit" data-path="{{uri}}" data-language="{{description.language}}">Edit file</button>
          <button class="btn-page-move" data-path="{{uri}}" data-language="{{description.language}}">Move file</button>
          <button class="btn-page-delete page-delete" data-path="{{uri}}" data-language="{{description.language}}">Delete file</button>
        </div>
      </li>
    {{/each}}
  </ul>
  <h3 id="complete-uris">{{complete.length}} pages awaiting review</h3>
  <ul class="page-list">
    {{#each complete}}
      <li><span class="page-item page-item--{{type}}">{{#ifCond description.language '===' 'cy'}}(Welsh)
      {{/ifCond}}{{description
      .title}}{{#if description.edition}}: {{description.edition}}{{/if}} ({{lastEditedBy events}})</span>
        <div class="page-options">
          <button class="btn-page-edit" data-path="{{uri}}" data-language="{{description.language}}">Review file</button>
          <button class="btn-page-move" data-path="{{uri}}" data-language="{{description.language}}">Move file</button>
          <button class="btn-page-delete page-delete" data-path="{{uri}}" data-language="{{description.language}}">Delete file</button>
        </div>
      </li>
    {{/each}}
  </ul>
  <h3 id="reviewed-uris">{{reviewed.length}} pages awaiting approval</h3>
  <ul class="page-list">
    {{#each reviewed}}
      <li><span class="page-item page-item--{{type}}">{{#ifCond description.language '===' 'cy'}}(Welsh)
      {{/ifCond}}{{description
      .title}}{{#if description.edition}}: {{description.edition}}{{/if}} ({{lastEditedBy events}})</span>
        <div class="page-options">
          <button class="btn-page-edit" data-path="{{uri}}" data-language="{{description.language}}">Edit file</button>
          <button class="btn-page-move" data-path="{{uri}}" data-language="{{description.language}}">Move file</button>
          <button class="btn-page-delete page-delete" data-path="{{uri}}" data-language="{{description.language}}">Delete file</button>
        </div>
      </li>
    {{/each}}
  </ul>
</div>

<nav class="section-nav">
  <button class="btn-collection-work-on">Work on collection</button>
  <button class="btn-collection-approve">Approve collection</button>
  <button id="collection-delete" class="btn-page-delete page-delete">Delete collection</button>
  <button class="btn-collection-cancel">Cancel</button>
</nav>

