<div class="slider">
    <div class="slider__head js-collection__head">
        <h2>{{name}}</h2>
        <p>Publish: {{date}}<br>{{createdBy events}}</p>
        <button class="btn btn--primary btn-collection-edit">Edit collection details</button>
    </div>
    <div class="slider__content js-collection__content">
        <h3 id="in-progress-uris">{{inProgress.length}} pages in progress</h3>
        <ul class="page-list">
            {{#each inProgress}}
                <li><span class="page-item page-item--{{type}}">{{#ifCond description.language '===' 'cy'}}(Welsh)
                {{/ifCond}}{{description
                .title}}{{#if description.edition}}: {{description.edition}}{{/if}} ({{lastEditedBy events}})</span>
                    <div class="page-options">
                        <button class="btn btn-page-edit" data-path="{{uri}}" data-language="{{description.language}}">Edit
                            file
                        </button>
                        {{!-- <button class="btn btn-page-move" data-path="{{uri}}" data-language="{{description.language}}">Move
                             file
                         </button> --}}
                        <button class="btn btn--warning btn-page-delete page-delete" data-path="{{uri}}" data-language="{{description
                        .language}}">Delete file
                        </button>
                    </div>
                </li>
            {{/each}}
        </ul>
        <h3 id="complete-uris">{{complete.length}} pages awaiting review</h3>
        <ul class="page-list">
            {{#each complete}}
                <li><span class="page-item page-item--{{type}}">{{#ifCond description.language '===' 'cy'}}(Welsh)
                {{/ifCond}}{{description
                .title}}{{#if description.edition}}: {{description.edition}}{{/if}} ({{lastEditedBy events}})</span>
                    <div class="page-options">
                        <button class="btn btn-page-edit" data-path="{{uri}}" data-language="{{description.language}}">
                            Review
                            file
                        </button>
                        {{!-- <button class="btn btn-page-move" data-path="{{uri}}" data-language="{{description.language}}">Move
                             file
                         </button> --}}
                        <button class="btn btn--warning btn-page-delete page-delete" data-path="{{uri}}" data-language="{{description
                        .language}}">Delete file
                        </button>
                    </div>
                </li>
            {{/each}}
        </ul>
        <h3 id="reviewed-uris">{{reviewed.length}} pages awaiting approval</h3>
        <ul class="page-list">
            {{#each reviewed}}
                <li><span class="page-item page-item--{{type}}">{{#ifCond description.language '===' 'cy'}}(Welsh)
                {{/ifCond}}{{description
                .title}}{{#if description.edition}}: {{description.edition}}{{/if}} ({{lastEditedBy events}})</span>
                    <div class="page-options">
                        <button class="btn btn-page-edit" data-path="{{uri}}" data-language="{{description.language}}">Edit
                            file
                        </button>
                        {{!-- <button class="btn btn-page-move" data-path="{{uri}}" data-language="{{description.language}}">Move
                             file
                         </button> --}}
                        <button class="btn btn--warning btn-page-delete page-delete" data-path="{{uri}}"
                                data-language="{{description
                                .language}}">Delete file
                        </button>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>

    <nav class="slider__nav">
        <button class="btn btn--primary btn-collection-work-on">Work on collection</button>
        <button class="btn btn--positive btn-collection-approve">Approve collection</button>
        <button id="collection-delete" class="btn btn--warning btn-page-delete">Delete collection</button>
        <button class="btn btn-collection-cancel">Cancel</button>
    </nav>
</div>

