<div class="section-head">
  <h2>{{name}}</h2>
  <p>Publish: {{date}}</p>
</div>
<div class="section-content">
  <h3 id="in-progress-uris">{{inProgress.length}} pages in progress</h3>
  <ul class="page-list">
    {{#each inProgress}}
      <li><span class="page-item">{{name}}</span>
        <div class="page-options">
          <button class="btn-page-edit" data-path="{{path}}">Edit file</button>
          <button class="">Delete file</button>
          <button class="">Move file</button>
        </div>
      </li>
      {{/each}}
  </ul>
  <h3 id="complete-uris">{{completed.length}} pages awaiting review</h3>
  <ul class="page-list">
    {{#each completed}}
      <li><span class="page-item">{{name}}</span>
        <div class="page-options">
          <button class="btn-page-edit" data-path="{{path}}">Edit file</button>
          <button class="">Delete file</button>
          <button class="">Move file</button>
        </div>
      </li>
    {{/each}}
  </ul>
  <h3 id="reviewed-uris">{{reviewed.length}} pages awaiting approval</h3>
  <ul class="page-list">
    {{#each reviewed}}
      <li><span class="page-item">{{name}}</span>
        <div class="page-options">
          <button class="btn-page-edit" data-path="{{path}}">Edit file</button>
          <button class="btn-page-delete">Delete file</button>
          <button class="">Move file</button>
        </div>
      </li>
    {{/each}}
  </ul>
</div>

<nav class="section-nav">
  <button class="btn-cancel">Cancel</button>
  <button class="btn-collection-work-on">Work on collection</button>
  <button class="btn-collection-approve">Approve collection</button>
</nav>
