<div class="edit-section" id="{{idField}}">
  <div class="edit-section__head">
    <h1>{{idField}}</h1>
    {{#ifCond idField '===' 'correction'}}
      <p>Date | Notice </p>
    {{else}}
      <p>Title</p>
    {{/ifCond}}
  </div>
  <div class="edit-section__content">
    <div id="sortable-{{idField}}" class="edit-section__sortable">
      <div id="{{idField}}-section"></div>
    </div>
    <div class="text-center">
      <button class="btn-add-section" id="add-{{idField}}">Add {{idField}}</button>
    </div>
  </div>
</div>