<div class="edit-section" id="file">
    <div class="edit-section__head">
        <h1>Upload files</h1>
        <p>Title | Link</p>
    </div>
    <div class="edit-section__content">
        <div id="sortable-file" class="edit-section__sortable">
            {{#each this.downloads}}
                <div id="{{@index}}" class="edit-section__sortable-item">
                    <textarea id="file-title_{{@index}}" placeholder="Type title here and save to add content">{{title}}</textarea>
                    <textarea style="display: none;" id="file-filename_{{@index}}">{{uri}}</textarea>
                    <div id="file-filename_show_{{@index}}">{{uri}}</div>
                    <button class="btn-page-delete" id="file-delete_{{@index}}">Delete</button>
                </div>
            {{/each}}
        </div>
        <div class="text-center">
            <button class="btn-add-section" id="add-file">Add file</button>
        </div>
    </div>
</div>