<div class="edit-section" id="{{idField}}">
  <div class="edit-section__head">
    {{#ifCond idField '===' 'correction'}}
      <h1>Corrections</h1>
      <p>Date | Notice </p>
    {{else}}
      <h1>Versions</h1>
      <p>Title</p>
    {{/ifCond}}
  </div>
  <div class="edit-section__content">
    <div id="sortable-{{idField}}" class="edit-section__sortable">
      <div id="{{idField}}-section"></div>
      {{#each list}}
        <div id="{{@index}}" class="edit-section__item">
          <div id="correction-edition_{{@index}}" correction-url="{{uri}}"></div>
          <input id="correction-date_{{@index}}" type="text" placeholder="Day month year"
                 value="{{updateDate}}" class="hasDateTimePicker"/>
          <textarea style="display: none;" id="correction-markdown_{{@index}}">{{correctionNotice}}</textarea>

          <div class="edit-section__buttons">
            <button class="btn-markdown-edit" id="correction-edit_{{@index}}">Edit notice</button>
            <button class="btn-page-delete" id="correction-delete_{{@index}}">Delete</button>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="text-center">
      <button class="btn-add-section" id="add-{{idField}}">Add {{idField}}</button>
    </div>
  </div>
</div>