<div class="edit-section" id="{{idField}}">
  <div class="edit-section__head">
    <h1>Date changes</h1>
    <p>Date | Change notice</p>
  </div>
  <div class="edit-section__content">
    <div id="sortable-{{idField}}" class="edit-section__sortable">
      {{#each list}}
        <div id="{{@index}}" class="edit-section__item">
          <div id="previousDate_{{@index}}">{{this.previousDate}}</div>
          <textarea style="display: none;" id="{{../idField}}-markdown_{{@index}}">{{this.changeNotice}}</textarea>
          <div class="edit-section__buttons">
            <button class="btn-markdown-edit" id="{{../idField}}-note_{{@index}}">Edit notice</button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>