<div class="edit-section" id="{{idField}}">
  <div class="edit-section__head">
    <h1>Corrections</h1>
    <p>Date | Notice | Supplementary files</p>
  </div>
  <div class="edit-section__content">
    <div id="sortable-{{idField}}" class="edit-section__sortable">
      {{#each list}}
        <div id="{{@index}}" class="edit-section__item">
          <div id="date_{{@index}}">{{this.date}}</div>
          <textarea style="display: none;" id="{{../idField}}-markdown_{{@index}}">{{this.correctionNotice}}</textarea>
          <button class="btn-markdown-edit" id="{{../idField}}-edit_{{@index}}">Edit</button>
          <!--<button class="btn-markdown-edit" id="{{../idField}}-add_{{@index}}">Add supplementary files</button>-->
        </div>
      {{/each}}
    </div>
    <div class="text-center">
      <button class="btn-add-section" id="add-{{idField}}">Add {{idField}}</button>
    </div>
  </div>
</div>