<div class="image-builder overlay">
  <div class="image-builder__inner">

    <div id="edit-image" class="image-builder__editor">

      <span class="refresh-text">
        <input type="text" id="image-title" placeholder="[Title]" value="{{title}}"/>
        <input type="text" id="image-subtitle" placeholder="[Subtitle]" value="{{subtitle}}"/>
        <input type="text" id="image-source" placeholder="[Source]" value="{{source}}"/>
        <input type="text" id="image-alt-text" placeholder="[Alt text]" value="{{altText}}"/>
      </span>

      <form id="upload-image-form">
        <label>Image file upload</label>
        <input type="file" name="image-upload" id="image-upload">
        <input type="submit" value="Upload image">
      </form>

      </br>

      <form id="upload-data-form">
        <label>Data file upload</label>
        <input type="file" name="data-upload" id="data-upload">
        <input type="submit" value="Upload data">
      </form>

      </br>

      <textarea id="image-notes" class="refresh-text" placeholder="Add image notes here" rows="4" cols="120">{{notes}}</textarea>

    </div>

    <div id="preview-image" class="image-builder__preview">
      <span id="image-title-preview"></span>
      </br>
      <span id="image-subtitle-preview"></span>

      <div id="image"></div>

      <span id="image-source-preview"></span>
      <span id="image-notes-preview"></span>

    </div>

    <div class="image-builder__footer">
      <button class="btn-image-builder-create">Save image</button>
      <button class="btn-image-builder-cancel">Cancel</button>
    </div>

  </div>
</div>