<div class="section-head">
  <h2>{{name}}</h2>

  <p>{{date}}</p>

  <p>
    Total time: <span {{#ifCond duration '<' '60000'}} style="color: green; font-weight: 700;" {{/ifCond}} {{#ifCond
  duration '>='
  '60000'}} style="color:
  red; font-weight: 700;"
  {{/ifCond}}>{{duration}}</span> ms
  </p>
  
  <p>Started at: {{starting}}</p>
  
  
  {{#ifCond verifyFailedCount '>' 0}}
  <p style="color: red; font-weight: 700;">Verification failed for {{verifyFailedCount}}  file(s)</p>
  {{/ifCond}}

  {{#ifCond verifiedCount '>' 0}}
  <p style="color: green; font-weight: 700;">Verified {{verifiedCount}} file(s) successfully </p>
  {{/ifCond}}
  

  {{#ifCond verifyInprogressCount '>' 0}}
  <p style="color: yellow; font-weight: 700;">Verifying {{verifyInprogressCount}} file(s) </p>
  {{/ifCond}}
  

</div>

{{#if success.error}}
  <div class="section-content section-content--fullwidth">
    <div class="collections-accordion">
      <div class="collections-section">
        <div class="collections-section__head">
          <h3 class="collection-name">Error list</h3>
        </div>
        <div class="collections-section__content">
          <ul class="page-list">
            {{#each success.errors}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="section-content section-content--fullwidth">
    <div class="collections-accordion">
      <div class="collections-section">
        <div class="collections-section__head">
          <h3 class="collection-name">{{#ifCond success.transaction.uriInfos.length '>' '1'}} {{success.transaction.uriInfos.length}} files published
          {{/ifCond}} {{#ifCond success.transaction.uriInfos.length '<=' '1'}} {{success.transaction.uriInfos.length}}
            file published {{/ifCond}}</h3>
        </div>
        <div class="collections-section__content">
          <table class="collections-report-table">
            <thead>
            <tr>
              <th class="file-name">Name</th>
              <th class="file-size">Size (B)</th>
              <th class="file-duration">Time (ms)</th>
            </tr>
            </thead>
            <tbody>
            {{#each success.transaction.uriInfos}}
              <tr {{#ifCond verificationStatus '===' 'failed'}} style="color: red;" {{/ifCond}}  {{#ifCond verificationStatus '===' 'verified'}} style="color: green;" {{/ifCond}} >
                <td class="file-name">{{uri}}</td>
                <td class="file-size">{{size}}</td>
                <td class="file-duration">{{duration}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{{/if}}

<nav class="section-nav">
  <button class="btn-collection-cancel">Cancel</button>
</nav>