<div class="team-select overlay">
    <div class="builder__inner team-select__inner">

        <div class="team-select__header">
            <h1 class="team-select__heading">Team: {{team.name}}</h1>
        </div>
        <div class="team-select__body">
            <!--50% width-->
            <div class="col--6 team-select__left-column">
                <h2>Users</h2>
                <div class="team-select-search">
                    <input id="team-search-input" class="team-select-search__input" type="text"
                           placeholder="Search for a user">
                </div>
                <ul class="user-list">
                    {{#each user}}
                        <li>{{this}} <button class="btn btn--positive btn-team-list btn-team-add" data-email="{{this}}">Add</button></li>
                    {{/each}}
                </ul>
            </div>

            <!--50% width-->
            <div class="col--6 team-select__right-column">
                <h2>Team members</h2>
                <ul class="team-list">
                    {{#each team.members}}
                        <li>{{this}} <button class="btn btn--warning btn-team-list btn-team-remove" data-email="{{this}}">Remove</button></li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="team-select__footer">
            <button class="btn btn-team-selector-cancel">Done</button>
        </div>

    </div>
</div>