<section class="panel workspace-edit">
  <div class="edit-accordion">

    <div class="edit-section">
      <div class="edit-section__head">
        <h1>Metadata</h1>
        <p id="metadata-a">Title | Contact | Abstract | Keywords</p>
        <p id="metadata-b">Title | Next release | Contact | Summary | NS status | Keywords</p>
        <p id="metadata-d">Title | Next release | Contact | Summary | NS status | Keywords</p>
        <p id="metadata-m">Title | Contact | Summary | Keywords</p>
      </div>
      <div class="edit-section__content">
        <div id="metadata-list">
          <div>
            <label for="title">Title
            <textarea class="auto-size" type="text" id="title">{{this.description.title}}</textarea>
            </label>
          </div>
          <div class="edition">
            <label for="edition">Edition
              <textarea class="auto-size" type="text" id="edition">{{this.description.edition}}</textarea>
            </label>
          </div>
          <div class="release-date">
            <label for="releaseDate">Release date
              <input id="releaseDate" type="text" placeholder="Day month year" value="{{this.description.releaseDate}}"/>
              <!--<textarea class="auto-size" type="text" id="releaseDate">{{this.description.releaseDate}}</textarea>-->
            </label>
          </div>
          <div class="next-p">
            <label for="nextRelease">Next release
            <textarea class="auto-size" type="text" id="nextRelease">{{this.description.nextRelease}}</textarea>
            </label>
          </div>
          <div>
            <label for="contactName">Contact name
            <textarea class="auto-size" type="text" id="contactName">{{this.description.contact.name}}</textarea>
            </label>
          </div>
          <div>
            <label for="contactEmail">Contact email
            <textarea class="auto-size" type="text" id="contactEmail">{{this.description.contact.email}}</textarea>
            </label>
          </div>
          <div>
            <label for="contactPhone">Contact phone
              <textarea class="auto-size" type="text" id="contactPhone">{{this.description.contact.phone}}</textarea>
            </label>
          </div>
          <div id="summary-p">
            <label for="summary">Summary
            <textarea class="auto-size" type="text" id="summary">{{this.description.summary}}</textarea>
            </label>
          </div>
          <div id="abstract-p">
            <label for="abstract">Abstract
            <textarea class="auto-size" type="text" id="abstract">{{this.description.abstract}}</textarea>
            </label>
          </div>
          <div id="natStat">
            <label for="natStat">National statistic </label>
            <input type="checkbox" name="natStat" value="false" />
          </div>
          <div id="migrated">
            <label for="migrated">Migrated </label>
            <input type="checkbox" name="migrated" value="false" />
          </div>
          <div id="headline1-p">
            <label for="headline1">Headline 1
            <textarea class="auto-size" type="text" id="headline1">{{this.description.headline1}}</textarea>
            </label>
          </div>
          <div id="headline2-p">
            <label for="headline2">Headline 2
            <textarea class="auto-size" type="text" id="headline2">{{this.description.headline2}}</textarea>
            </label>
          </div>
          <div id="headline3-p">
            <label for="headline3">Headline 3
            <textarea class="auto-size" type="text" id="headline3">{{this.description.headline3}}</textarea>
            </label>
          </div>
          <div>
            <label for="keywords">Keywords
            <textarea class="auto-size" type="text" id="keywords">{{this.description.keywords}}</textarea>
            </label>
          </div>
          <div>
            <label for="metaDescription">Meta description
              <textarea class="auto-size" type="text" id="metaDescription">{{this.description.metaDescription}}</textarea>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="edit-section" id="content">
      <div class="edit-section__head">
        <h1>Content</h1>
        <p>Main sections | Title | Body copy</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-sections" class="edit-section__sortable">
          {{#each this.sections}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <textarea class="auto-size" id="section-title_{{@index}}" placeholder="Type title here and click edit to add content">{{title}}</textarea>
              <textarea style="display: none;" id="section-markdown_{{@index}}">{{markdown}}</textarea>
              <button class="btn-markdown-edit" id="section-edit_{{@index}}">Edit</button>
              <button class="btn-page-delete" id="section-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addSection">Add section</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="note">
      <div class="edit-section__head">
        <h1>Notes</h1>
        <p>Body copy</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-notes" class="edit-section__sortable">
          {{#each this.notes}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <textarea class="auto-size" id="note-markdown_{{@index}}" placeholder="Click edit to add content">{{data}}</textarea>
              <button class="btn-markdown-edit" id="note-edit_{{@index}}">Edit</button>
              <button class="btn-page-delete" id="note-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addNote">Add note</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="collapsible">
      <div class="edit-section__head">
        <h1>Collapsible sections</h1>
        <p>Background notes | References | Footnotes</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-tabs" class="edit-section__sortable">
          {{#each this.accordion}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <textarea class="auto-size" id="tab-title_{{@index}}" placeholder="Type title here and click edit to add content">{{title}}</textarea>
              <textarea style="display: none;" id="tab-markdown_{{@index}}">{{markdown}}</textarea>
              <button class="btn-markdown-edit" id="tab-edit_{{@index}}">Edit</button>
              <button class="btn-page-delete" id="tab-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addTab">Add collapsible section</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="relBulletin">
      <div class="edit-section__head">
        <h1>Related bulletins</h1>
        <p>Title | Link</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-related" class="edit-section__sortable">
          {{#each this.relatedBulletins}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <textarea id="bulletin-uri_{{@index}}">{{uri}}</textarea>
              <textarea style="display: none;" id="bulletin-title_{{@index}}">{{title}}</textarea>
              <textarea style="display: none;" id="bulletin-summary_{{@index}}">{{summary}}</textarea>
              <button class="btn-page-delete" id="bulletin-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addBulletin">Add bulletin</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="relArticle">
      <div class="edit-section__head">
        <h1>Related articles</h1>
        <p>Title | Link</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-related" class="edit-section__sortable">
          {{#each this.relatedArticles}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <textarea id="article-uri_{{@index}}">{{uri}}</textarea>
              <textarea style="display: none;" id="article-title_{{@index}}">{{title}}</textarea>
              <textarea style="display: none;" id="article-summary_{{@index}}">{{summary}}</textarea>
              <button class="btn-page-delete" id="article-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addArticle">Add article</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="relDataset">
      <div class="edit-section__head">
        <h1>Related datasets</h1>
        <p>Title | Link</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-related" class="edit-section__sortable">
          {{#each this.relatedDatasets}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <textarea id="dataset-uri_{{@index}}">{{uri}}</textarea>
              <textarea style="display: none;" id="dataset-title_{{@index}}">{{title}}</textarea>
              <textarea style="display: none;" id="dataset-summary_{{@index}}">{{summary}}</textarea>
              <button class="btn-page-delete" id="dataset-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addDataset">Add dataset</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="extLink">
      <div class="edit-section__head">
        <h1>External links</h1>
        <p>Title | Link</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-external" class="edit-section__sortable">
          {{#each this.externalLinks}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <textarea id="link-title_{{@index}}" placeholder="Title">{{linkText}}</textarea>
              <textarea id="link-url_{{@index}}" placeholder="Paste link here and save">{{url}}</textarea>
              <button class="btn-page-delete" id="link-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addLink">Add external link</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="used">
      <div class="edit-section__head">
        <h1>Related bulletins</h1>
        <p>Title | Link</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-used" class="edit-section__sortable">
          {{#each this.usedIn}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <textarea id="used-uri_{{@index}}">{{uri}}</textarea>
              <textarea style="display: none;" id="used-title_{{@index}}">{{title}}</textarea>
              <textarea style="display: none;" id="used-summary_{{@index}}">{{summary}}</textarea>
              <button class="btn-page-delete" id="used-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-used" id="addUsed">Add article or bulletin</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="download">
      <div class="edit-section__head">
        <h1>Upload files</h1>
        <p>Title | Link</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-download" class="edit-section__sortable">
          {{#each this.download}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <textarea id="download-title_{{@index}}" placeholder="Type title here and save to add content">{{title}}</textarea>
              <textarea style="display: none;" id="download-filename_{{@index}}">{{file}}</textarea>
              <div id="download-filename_show_{{@index}}">{{file}}</div>
              <button class="btn-page-delete" id="file-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-download" id="addFile">Add file</button>
        </div>
      </div>
    </div>

    <div id="charts"></div>

    <div id="tables"></div>

    <div class="edit-section">
      <div class="edit-section__head">
        <h1>Correction</h1>
        <p>Date | Notice | Severity</p>
      </div>
      <div class="edit-section__content edit-section__content--correction">
        {{#each this.correction}}
          <div id="{{@index}}" class="edit-section__sortable-item">
            <p>Text: <textarea class="auto-size" type="text" id="correction_text_{{@index}}" cols="65" style="box-sizing: border-box; min-height: 31px;">{{text}}</textarea></p>
            <p>Date: <input class="auto-size" type="date" id="correction_date_{{@index}}" value="{{date}}"/></p>
            <p>Type: <input type="radio" name="correctionType{{@index}}" value="minor"/><label> Minor</label>
              <input type="radio" name="correctionType{{@index}}" value="major"/><label> Major</label>
            </p>
            <button class="btn-page-delete" id="correction-delete_{{@index}}">Delete</button>
          </div>
        {{/each}}
        <div class="text-center">
          <button class="btn-add-section" id="addCorrection">Add correction</button>
        </div>
      </div>
    </div>

  </div>

  <nav class="edit-nav">
      {{> editNav}}
  </nav>

</section>