<section class="panel workspace-edit">
  <div class="edit-accordion">

    <div class="edit-section">
      <div class="edit-section__head">
        <h1>Metadata</h1>
        <p>Title | Summary | Keywords</p>
      </div>
      <div class="edit-section__content">
        <div id="metadata-list">
          <div>
            <label for="title">Title
              <textarea class="auto-size" id="title">{{this.description.title}}</textarea>
            </label>
          </div>
          <div id="summary-p">
            <label for="summary">Summary
              <textarea class="auto-size" id="summary">{{this.description.summary}}</textarea>
            </label>
          </div>
          <div>
            <label for="keywords">Keywords
              <input name="tags" id="keywords" value="{{this.description.keywords}}" style="display: none;">
            </label>
            <ul id="keywordsTag"></ul>
          </div>
          <div>
            <label for="metaDescription">Meta description
              <textarea class="auto-size" id="metaDescription">{{this.description.metaDescription}}</textarea>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="edit-section" id="timeseries">
      <div class="edit-section__head">
        <h1>Time series related to {{this.description.title}}</h1>
        <p></p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-timeseries" class="edit-section__sortable">
          {{#each this.items}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <p id="timeseries-title_{{@index}}">{{data.description.title}}</p>
              <button class="btn-page-delete" id="timeseries-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addTimeseries">Add timeseries</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="bulletins">
      <div class="edit-section__head">
        <h1>Bulletins related to {{this.description.title}}</h1>
        <p></p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-bulletins" class="edit-section__sortable">
          {{#each this.statsBulletins}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <p id="bulletins-title_{{@index}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</p>
              <button class="btn-page-delete" id="bulletins-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addBulletins">Add bulletins</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="articles">
      <div class="edit-section__head">
        <h1>Articles related to {{this.description.title}}</h1>
        <p></p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-articles" class="edit-section__sortable">
          {{#each this.relatedArticles}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <p id="articles-title_{{@index}}">{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}}</p>
              <button class="btn-page-delete" id="articles-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addArticles">Add articles</button>
        </div>
      </div>
    </div>

    <div class="edit-section" id="datasets">
      <div class="edit-section__head">
        <h1>Datasets related to {{this.description.title}}</h1>
        <p></p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-datasets" class="edit-section__sortable">
          {{#each this.datasets}}
            <div id="{{@index}}" class="edit-section__sortable-item">
              <p id="datasets-title_{{@index}}">{{description.title}}</p>
              <button class="btn-page-delete" id="datasets-delete_{{@index}}">Delete</button>
            </div>
          {{/each}}
        </div>
        <div class="text-center">
          <button class="btn-add-section" id="addDatasets">Add datasets</button>
        </div>
      </div>
    </div>

  </div>

  <nav class="edit-nav">
    {{> editNav}}
  </nav>

</section>