{{#each this}}
  <div id="{{@index}}" class="edit-section__sortable-item">
    <p id="edition_{{@index}}" edition-url="{{this.uri}}">{{this.description.edition}}</p>
    <button class="btn-markdown-edit" id="edition-edit-label_{{@index}}">Edit title</button>
    <button class="btn-markdown-edit" id="edition-edit_{{@index}}">Update / Add supplementary file</button>
  </div>
{{/each}}