<div class="edit-section" id="charts">
  <div class="edit-section__head">
    <h1>Charts</h1>

    <p>Edit existing charts</p>
  </div>
  <div id="chart-list" class="edit-section__content">
    <div id="sortable-chart" class="edit-section__sortable">
      {{#each this.charts}}
        <div id="{{@index}}" class="edit-section__sortable-item">
          <div class="edit-section__title">{{title}}</div>
          <div id="chart-to-be-copied_{{@index}}" style="display: none">&ltons-chart path="{{filename}}" /&gt</div>
          <div class="edit-section__buttons">
            <button class="btn-markdown-edit" id="chart-copy_{{@index}}">Copy</button>
            <button class="btn-markdown-edit" id="chart-edit_{{@index}}">Edit</button>
            <button class="btn-page-delete" id="chart-delete_{{@index}}">Delete</button>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="text-center">
      <button class="btn-add-section" id="add-chart">Add chart</button>
    </div>
  </div>
</div>