{{#each this}}
  <div id="{{@index}}" class="edit-section__sortable-item">
    <p id="correction-title_{{@index}}" correction-url="{{this.uri}}">{{this.description.title}}</p>
    <button class="btn-markdown-edit" id="correction-edit_{{@index}}">Edit</button>
  </div>
{{/each}}