<section class="panel workspace-edit">
  <div class="edit-accordion">

    <div class="edit-section">
      <div class="edit-section__head">
        <h1>Metadata</h1>
        <p>Title | Summary | Keywords</p>
      </div>
      <div class="edit-section__content">
        <div id="metadata-list">
          <div>
            <label for="title">Title
              <textarea class="auto-size" id="title">{{this.description.title}}</textarea>
            </label>
          </div>
          <div id="summary-p">
            <label for="summary">Summary
              <textarea class="auto-size" id="summary">{{this.description.summary}}</textarea>
            </label>
          </div>
          <div>
            <label for="keywords">Keywords
              <input name="tags" id="keywords" value="{{this.description.keywords}}" style="display: none;">
            </label>
            <ul id="keywordsTag"></ul>
          </div>
          <div>
            <label for="metaDescription">Meta description
              <textarea class="auto-size" id="metaDescription">{{this.description.metaDescription}}</textarea>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="edit-section">
        <div class="edit-section__head">
            <h1>Related timeseries</h1>
            <p></p>
        </div>
        <div class="edit-section__content">
            <div id="sortable-timeseries" class="edit-section__sortable">
                {{#each this.items}}
                    <div id="{{@index}}" class="edit-section__sortable-item">
                        <div class="edit-section__sortable-item-counter float-left">{{plus @index 1}}</div>
                        <p id="timeseries-title_{{@index}}">{{data.description.title}}</p>
                        <button class="btn-page-delete" id="timeseries-delete_{{@index}}">Delete</button>
                    </div>
                {{/each}}
            </div>
            <div class="text-center">
                <button class="btn-add-section" id="add-timeseries">Add timeseries</button>
            </div>
        </div>
    </div>

    <div id="bulletins"></div>

    <div id="articles"></div>

    <div id="datasets"></div>

  </div>

  <nav class="edit-nav">
    {{> editNav}}
  </nav>

</section>