{{#each this}}
    <div id="{{@index}}" class="edit-section__sortable-item">
        <div class="edit-section__sortable-item--counter float-left">{{plus @index 1}}. </div>
        <p id="section-title_{{@index}}">{{this.statistics.title}}</p>
        <button class="btn-markdown-edit" id="section-edit_{{@index}}">Edit</button>
    </div>
{{/each}}