<label for="finish-at-hundred" class="checkbox-label">Finish at 100</label>
<input id="finish-at-hundred" name="Finish at 100" {{#if finishAtHundred}}checked{{/if}} type="checkbox">
<br/>
{{#each series}}
  <div>Series {{plus @index 1}}: {{this}}</div>
  <label for="series-types_{{@index}}">Type
  <div class="select-wrap">
    <select id="series-types_{{@index}}" class="half">
      {{#select (lookup ../chartTypes this)}}
        <option value="bar">Bar</option>
        <option value="line">Line</option>
      {{/select}}
    </select>
  </div>
  </label>
  <label for="line-types_{{@index}}">Style
  <div class="select-wrap">
    <select id="line-types_{{@index}}" class="half">
      {{#select (lookup ../lineTypes this)}}
        <option value="Solid">Solid</option>
        <option value="Dash">Dash</option>
        <option value="LongDash">LongDash</option>
        <option value="Dot">Dot</option>
        <option value="DashDot">DashDot</option>
        <option value="ShortDash">ShortDash</option>
        <option value="ShortDot">ShortDot</option>
        <option value="ShortDashDot">ShortDashDot</option>
        {{!-- Hidden from view since they do not display well --}}
        {{!-- <option value="ShortDashDotDot">ShortDashDotDot</option> --}}
        {{!-- <option value="LongDashDot">LongDashDot</option> --}}
        {{!-- <option value="LongDashDotDot">LongDashDotDot</option> --}}
      {{/select}}
    </select>
  </div>
  </label>
  <label for="{{this}}">Bar stack</label>
    <input id="{{this}}" name="group_check" value="{{this}}" type="checkbox"{{#ifContains this ../groups.[0]}} checked{{/ifContains}}>
  <br/>
  <hr/>

{{/each}}
