                <label for="chart-data">Chart data</label>
                <textarea id="chart-data" class="refresh-chart" placeholder="Paste your data here" rows="4" cols="120"></textarea>
                <label>Chart type<br>
                    <div class="select-wrap">
                        <select id="chart-type" class="refresh-chart">
                            {{#select chartType}}
                                <option value="bar">Bar Chart</option>
                                <option value="rotated">Bar Chart (rotated)</option>
                                <option value="line">Line Chart</option>
                                <option value="area">Area Chart</option>
                                <option value="barline">Bar + Line Chart</option>
                                <option value="rotated-barline">Bar + Line Chart (rotated)</option>
                                <option value="dual-axis">Dual Axis</option>
                                <option value="scatter">Scatter Plot Chart</option>
                                <option value="pie">Pie Chart</option>
                                <option value="donut">Donut Chart</option>
                                <option value="population">Population Pyramid</option>
                                <option value="confidence-interval">Confidence Interval</option>
                                <option value="rotated-confidence-interval">Confidence Interval (rotated)</option>
                                <option value="confidence-interval-scatter">Confidence Interval (Scatter)</option>
                                <option value="box-and-whisker">Box and Whisker</option>
                                <option value="small-multiples">Small Multiples</option>
                                <option value="heatmap">Heatmap</option>
                                <option value="table">Table</option>
                            {{/select}}
                        </select>
                    </div>
                </label>
                <div id="extras" class="refresh-chart">
                </div>

                <div class="refresh-chart">
                    <label>Decimal places (tooltip)<br>
                        <input type="text" id="chart-decimal-places" class="refresh-chart half" placeholder="[Decimal places]"
                               value="{{decimalPlaces}}"/>
                    </label>
                    <label>Decimal places (yAxis)<br>
                        <input type="text" id="chart-decimal-places-yaxis" class="refresh-chart half" placeholder="[Decimal places]"
                               value="{{decimalPlacesYaxis}}"/>
                    </label>
                </div>
                <span class="refresh-chart">
                    <label for="chart-min" class="{{#if_eq chartType "line"}}third{{/if_eq}}">Overwrite y-axis
                        <input type="text" id="chart-min" placeholder="[Min]" value="{{yMin}}" class="refresh-chart"/>
                    </label>
                    <label for="chart-max" class="{{#if_eq chartType "line"}}third{{/if_eq}}">
                        <input type="text" id="chart-max" placeholder="[Max]" value="{{yMax}}" class="refresh-chart"/>
                    </label>
                    {{#if_eq chartType "line"}}
                        <label for="chart-interval" class="{{#if_eq chartType "line"}}third{{/if_eq}}">
                            <input type="text" id="chart-interval" placeholder="[Interval]" value="{{yAxisInterval}}" class="refresh-chart"/>
                        </label>
                    {{/if_eq}}
                </span>
