<div class="slider">
    <div class="slider__head js-collection__head">
        <h2>{{name}}<span class="edit btn-collection-edit js-edit-collection">Edit collection</span></h2>
        <!--<p>Publish: {{date}}<br>{{createdBy events}}</p>-->
        <!--<button class="btn btn--primary btn-collection-edit">Edit collection details</button>-->
    </div>

    {{#ifCond approvalState.inProgress '||' approvalState.thrownError}}
        <div class="slider__banner">
            {{#if approvalState.inProgress}}
                <p>This collection has been approved and is being prepared for the publishing queue</p>
            {{/if}}
            {{#if approvalState.thrownError}}
                <p>Oops, we seem to have hit an error whilst preparing this collection for the publishing queue :(</p>
            {{/if}}
        </div>
    {{/ifCond}}

    <!--<div class="slider__banner">-->
            <!--<p>This collection has been approved and is being prepared for the publishing queue</p>-->
    <!--</div>-->
    <div class="js-collection__content">
        {{#if approvalState.notStarted}}
            <div class="slider__options">
                <!--<h3>Work on collection</h3>-->
                <button class="btn btn--primary btn-collection-work-on js-work-on-collection">Create/edit</button>
                <button class="btn js-restore-delete">Restore content</button>
                <button class="btn js-import">Import timeseries</button>
            </div>
        {{/if}}


        <div class="slider__content">
            <h3 id="in-progress-uris">{{inProgress.length}} pages in progress</h3>
            <ul class="page-list">
                {{#each inProgress}}
                    <li class="page-list__item"><span class="page__item page__item--{{type}}">{{#ifCond description.language '===' 'cy'}}(Welsh)
                    {{/ifCond}}{{description
                    .title}}{{#if description.edition}}: {{description.edition}}{{/if}} ({{lastEditedBy events}})</span>
                        <div class="page__buttons page__buttons--list">
                            <button class="btn btn-page-edit" data-path="{{uri}}" data-language="{{description.language}}">Edit
                                file
                            </button>
                            {{!-- <button class="btn btn-page-move" data-path="{{uri}}" data-language="{{description.language}}">Move
                                 file
                             </button> --}}
                            <button class="btn btn--warning btn-page-delete page-delete" data-path="{{uri}}" data-language="{{description
                            .language}}">Delete file
                            </button>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <h3 id="complete-uris">{{complete.length}} pages awaiting review</h3>
            <ul class="page-list">
                {{#each complete}}
                    <li class="page-list__item"><span class="page__item page__item--{{type}}">{{#ifCond description.language '===' 'cy'}}(Welsh)
                    {{/ifCond}}{{description
                    .title}}{{#if description.edition}}: {{description.edition}}{{/if}} ({{lastEditedBy events}})</span>
                        <div class="page__buttons page__buttons--list">
                            <button class="btn btn-page-edit" data-path="{{uri}}" data-language="{{description.language}}">
                                Review
                                file
                            </button>
                            {{!-- <button class="btn btn-page-move" data-path="{{uri}}" data-language="{{description.language}}">Move
                                 file
                             </button> --}}
                            <button class="btn btn--warning btn-page-delete page-delete" data-path="{{uri}}" data-language="{{description
                            .language}}">Delete file
                            </button>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <h3 id="reviewed-uris">{{reviewed.length}} pages awaiting approval</h3>
            <ul class="page-list">
                {{#each reviewed}}
                    <li class="page-list__item">
                        <span class="page__item page__item--{{type}}">{{#ifCond description.language '===' 'cy'}}(Welsh){{/ifCond}}{{description.title}}{{#if description.edition}}: {{description.edition}}{{/if}} ({{lastEditedBy events}})</span>
                        <div class="page__buttons page__buttons--list">
                            <button class="btn btn-page-edit" data-path="{{uri}}" data-language="{{description.language}}">Edit
                                file
                            </button>
                            {{!-- <button class="btn btn-page-move" data-path="{{uri}}" data-language="{{description.language}}">Move
                                 file
                             </button> --}}
                            <button class="btn btn--warning btn-page-delete page-delete" data-path="{{uri}}"
                                    data-language="{{description.language}}">Delete file
                            </button>
                        </div>
                    </li>
                {{/each}}
            </ul>
            {{#if datasets}}
                <h3 id="">API datasets in this collection</h3>
                <ul class="page-list">
                    {{#each datasets}}
                        <li class="page-list__item">
                            <span class="page__item ">{{dataset.title}} - {{edition}}</span>
                            <div class="page__buttons page__buttons--list">
                                <button class="btn btn-page-edit" data-path="{{uri}}" data-language="{{description.language}}">Edit
                                    file
                                </button>
                                <button class="btn btn--warning dataset-delete" data-instanceId="{{instance_id}}" data-language="{{descriptions.language}}">Delete file
                                </button>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if pendingDeletes}}
                <h3 id="delete-uris">Content deletions</h3>

                <!--<p id="approval-permission-blocked" style="display: none"><strong>You will not be able to approve this collection as it contains delete requests actioned by you.</strong></p> -->

                <ul class="page-list">
                    {{#each pendingDeletes}}
                        <li class="page-list__item">
                            <span class="page__item page__item--{{root.type}}">
                                {{root.description.title}}{{#if root.description.edition}}
                                : {{root.description.edition}}{{/if}}  ({{totalDeletes}} delete{{#ifCond totalDeletes '>' '1'}}s{{/ifCond}} in total)<br/>
                                {{root.uri}}
                            </span>
                            <div class="page__buttons page__buttons--list">
                                <button class="btn-page-delete delete-marker-remove" data-path="{{root.uri}}"
                                        data-language="{{root.description.language}}">
                                    Cancel Delete
                                </button>
                            </div>
                            {{#if root.children}} {{! Within the context of the current item }}
                                <div class="page__children">
                                    <h4>This delete contains</h4>
                                    {{> childDeletes}} {{!-- Recursively render the partial --}}
                                </div>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if timeseriesImportFiles}}
                <h3 id="delete-uris">1 timeseries import</h3>
                    <ul class="page-list">
                        <li class="page-list__item">
                            {{timeseriesImportFiles.[0]}}
                        </li>
                    </ul>
            {{/if}}
        </div>
    </div>

    <nav class="slider__nav">
        <!--<button class="btn btn--primary btn-collection-work-on">Work on collection</button>-->
        <button class="btn btn--positive btn-collection-approve">Approve collection</button>
        <button id="collection-delete" class="btn btn--warning btn-page-delete">Delete collection</button>
        <button class="btn btn-collection-cancel">Cancel</button>
    </nav>
</div>

