<div class="slider slider--background-primary">
    <div class="slider__head">
        <h2>{{date}}</h2>
        <p>{{subtitle}}</p>
    </div>

    <div class="slider__content slider__content--fullwidth">
        {{#each collectionDetails}}
            <div class="accordion js-accordion">
                <div class="accordion__title js-accordion__title">
                    <h3 class="collection-name" data-id="{{id}}">{{#if name}}{{name}}{{else}}{{id}}{{/if}}</h3>
                </div>
                <div class="accordion__content accordion__content--padded disable-animation js-accordion__content">
                    {{#if pageType}}
                            <button class="btn btn--positive margin-top--1 margin-bottom--0 margin-right--0 btn-collection-publish">Publish collection</button>
                    {{/if}}
                    <button class="btn btn--primary margin-top--1 margin-bottom--0 margin-right--0 btn-collection-unlock">Unlock</button>
                    <button class="btn btn--primary margin-top--1 margin-bottom--0 btn-collection-preview">Preview</button>
                    {{#if error}} 
                        <p>
                        This collection is in the queue, but there are too many files to load in this list.
                        There's no need to raise a support ticket, the collection is now ready for publish.
                        </p>
                    {{else}}
                        
                        {{#if_any pageDetails datasets datasetVersions interactives}}
                            <h4>Approved pages in this collection</h4>
                            <ul class="page-list">
                                {{#if pageDetails}}
                                    {{#each pageDetails}}
                                        <li class="page-list__item"><span class="page__item page__item--{{type}}"
                                                data-path="{{uri}}">{{description.title}}{{#if description.edition}}
                                            : {{description.edition}}{{/if}}</span>
                                            <div class="page__buttons page__buttons--list">
                                                <button class="btn btn--warning btn-page-delete">Remove from this publish</button>
                                            </div>
                                        </li>
                                    {{/each}}
                                {{/if}}
                                {{#if datasets}}
                                    {{#each datasets}}
                                        <li class="page-list__item"><span class="page__item page__item--dataset"
                                                                        data-path="{{uri}}">{{title}}</span>
                                            <div class="page__buttons page__buttons--list">
                                                <button class="btn btn--warning btn--disabled btn-page-delete">Remove from this publish</button>
                                            </div>
                                        </li>
                                    {{/each}}
                                {{/if}}
                                {{#if datasetVersions}}
                                    {{#each datasetVersions}}
                                        <li class="page-list__item"><span class="page__item page__item--dataset_version"
                                                                        data-path="{{uri}}">{{title}}: {{edition}} (version {{version}})</span>
                                            <div class="page__buttons page__buttons--list">
                                                <button class="btn btn--warning btn--disabled btn-page-delete">Remove from this publish</button>
                                            </div>
                                        </li>
                                    {{/each}}
                                {{/if}}
                                {{#if interactives}}
                                    {{#each interactives}}
                                        <li class="page-list__item">
                                            <span class="page__item page__item--interactive" data-path="{{uri}}">{{title}}</span>
                                            <div class="page__buttons page__buttons--list">
                                                <button class="btn btn--warning btn--disabled btn-page-delete">Remove from this publish</button>
                                            </div>
                                        </li>
                                    {{/each}}
                                {{/if}}
                            </ul>
                        {{/if_any}}
                        {{#if pendingDeletes}}
                            <h4>Deleted pages in this collection</h4>
                            <ul class="page-list">
                                {{#each pendingDeletes}}
                                    <li class="page-list__item">
                                        <span class="page__item page__item--{{root.type}}">
                                            {{root.description.title}}{{#if root.description.edition}}: {{root.description.edition}}{{/if}}<br/>
                                            {{root.uri}}
                                        </span>
                                        {{#if root.children}} {{!-- Within the context of the current item --}}
                                            <div class="page__children">
                                                <h4>This delete contains</h4>
                                                {{> childDeletes}} {{!-- Recursively render the partial --}}
                                            </div>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>

    <nav class="slider__nav">
        <button class="btn btn-collection-cancel">Cancel</button>
    </nav>
</div>
