<section class="panel workspace-edit">
    <div class="edit-accordion">

        <div class="edit-section">
            <div class="edit-section__head">
                <h1>Metadata</h1>
                <p id="metadata-m">Title | Contact | Summary | Keywords</p>
            </div>
            <div class="edit-section__content">
                <div id="metadata-list">
                    <div>
                        <label for="title">Title
                            <textarea class="auto-size" type="text" id="title">{{this.description.title}}</textarea>
                        </label>
                    </div>
                    <div class="release-date">
                        <label for="releaseDate">Release date
                            <input id="releaseDate" type="text" placeholder="Day month year"
                                   value="{{this.description.releaseDate}}"/>
                        </label>
                    </div>
                    <div>
                        <label for="contactName">Contact name
                            <textarea class="auto-size" type="text"
                                      id="contactName">{{this.description.contact.name}}</textarea>
                        </label>
                    </div>
                    <div>
                        <label for="contactEmail">Contact email
                            <textarea class="auto-size" type="text"
                                      id="contactEmail">{{this.description.contact.email}}</textarea>
                        </label>
                    </div>
                    <div>
                        <label for="contactTelephone">Contact telephone
                            <textarea class="auto-size" type="text"
                                      id="contactTelephone">{{this.description.contact.telephone}}</textarea>
                        </label>
                    </div>
                    <div id="summary-p">
                        <label for="summary">Summary
                            <textarea class="auto-size" type="text" id="summary">{{this.description.summary}}</textarea>
                        </label>
                    </div>
                    <div>
                        <label for="keywords">Keywords
                            <input name="tags" id="keywords" value="{{this.description.keywords}}"
                                   style="display: none;">
                        </label>
                        <ul id="keywordsTag"></ul>
                    </div>
                    <div>
                        <label for="metaDescription">Meta description
                            <textarea class="auto-size" type="text"
                                      id="metaDescription">{{this.description.metaDescription}}</textarea>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="tags"></div>

        <div id="section"></div>

        <div id="tab"></div>

        <div id="charts"></div>

        <div id="tables"></div>

        <div id="equations"></div>

        <div id="images"></div>

        <div id="file"></div>

        <div id="document"></div>

        <div id="dataset"></div>

        <div id="topics"></div>

        <div id="link"></div>

        <div id="anchor"></div>

        <!--<div id="qmi"></div>-->

        <div id="pdf"></div>

        <div id="alert"></div>

    </div>

    <nav class="edit-nav">
        {{> editNav}}
    </nav>

</section>