<section class="panel workspace-edit">
  <div class="edit-accordion">

    <div class="edit-section">
      <div class="edit-section__head">
        <h1>Metadata</h1>
        <p id="metadata-d">Title | Next release | Contact | Summary | NS status | Keywords | Census</p>
      </div>
      <div class="edit-section__content">
        <div id="metadata-list">
          <div>
            <label for="title">Title
              <textarea class="auto-size" type="text" id="title">{{this.description.title}}</textarea>
            </label>
          </div>
          <div id="summary-p">
            <label for="summary">Summary
              <textarea class="auto-size" type="text" id="summary">{{this.description.summary}}</textarea>
            </label>
          </div>
          <div class="release-date">
            <label for="releaseDate">Release date
              <input id="releaseDate" type="text" placeholder="Day month year" value="{{this.description.releaseDate}}"/>
            </label>
          </div>
          <div class="next-p">
            <label for="nextRelease">Next release
              <textarea class="auto-size" type="text" id="nextRelease">{{this.description.nextRelease}}</textarea>
            </label>
          </div>
          <div>
            <label for="contactName">Contact name
              <textarea class="auto-size" type="text" id="contactName">{{this.description.contact.name}}</textarea>
            </label>
          </div>
          <div>
            <label for="contactEmail">Contact email
              <textarea class="auto-size" type="text" id="contactEmail">{{this.description.contact.email}}</textarea>
            </label>
          </div>
          <div>
            <label for="contactTelephone">Contact telephone
              <textarea class="auto-size" type="text" id="contactTelephone">{{this.description.contact.telephone}}</textarea>
            </label>
          </div>
          <div>
            <label for="datasetId">Dataset ID
              <textarea class="auto-size" type="text" id="datasetId">{{this.description.datasetId}}</textarea>
            </label>
          </div>
          <div id="natStat">
            <label for="natStat-checkbox">Accredited official statistics </label>
            <input id="natStat-checkbox" type="checkbox" name="natStat" value="false" class="checkbox" />
          </div>
          <div id="census">
              <label for="census-checkbox">Census </label>
              <input id="census-checkbox" type="checkbox" name="census" class="checkbox"/>
          </div>
          <div>
            <label for="keywords">Keywords
              <input name="tags" id="keywords" value="{{this.description.keywords}}" style="display: none;">
            </label>
            <ul id="keywordsTag"></ul>
          </div>
          <div>
            <label for="metaDescription">Meta description
              <textarea class="auto-size" type="text" id="metaDescription">{{this.description.metaDescription}}</textarea>
            </label>
          </div>
          <div>
            <label for="metaCmd">CMD meta data
              <textarea class="auto-size" type="text" id="metaCmd">{{this.description.metaCmd}}</textarea>
            </label>
          </div>
        </div>
      </div>
    </div>

    <kdiv id="tags"></kdiv>

    <div id="one"></div>

    <div class="edit-section">
      <div class="edit-section__head">
        <h1>Download options</h1>
        <p>Title</p>
      </div>
      <div class="edit-section__content">
        <div id="sortable-edition" class="edit-section__sortable">
          <div id="edition"></div>
        </div>
        <div class="text-center">
          <button class="btn btn--subtle btn-add-section" id="add-edition">Add spreadsheet</button>
        </div>
      </div>
    </div>

    <div id="dataset"></div>

    <div id="document"></div>

    <div id="qmi"></div>

    <div id="methodology"></div>

    <div id="topics"></div>

    <div id="filterable-dataset"></div>

    <div id="alert"></div>

    <div id="link"></div>

  </div>

  <nav class="edit-nav">
    {{> editNav}}
  </nav>

</section>
