<section class="panel workspace-edit">
    <form>
        <div class="edit-accordion">
            <div class="edit-section">
                <div class="edit-section__head">
                    <h1>Metadata</h1>
                    <p id="metadata-ad">Title | Release date | Reference | Keywords</p>
                    <p id="metadata-f">Title | Release date | Keywords</p>
                    <p id="metadata-md">Title | Contact | Revised | Keywords</p>
                    <p id="metadata-q">Title | Contact | Survey | Frequency | How compiled | Coverage | Size | Revised |
                        Keywords</p>
                    <p id="metadata-s">Title | Summary | Keywords</p>
                </div>
                <div class="edit-section__content">
                    <div id="metadata-list">
                        <div>
                            <label for="title">Title
                                <textarea class="auto-size" type="text" id="title">{{this.description.title}}</textarea>
                            </label>
                        </div>
                        <div id="summary-p">
                            <label for="summary">Summary
                                <textarea class="auto-size" type="text"
                                          id="summary">{{this.description.summary}}</textarea>
                            </label>
                        </div>
                        <div id="natStat">
                            <label for="natStat-checkbox">National statistic </label>
                            <input id="natStat-checkbox" type="checkbox" name="natStat" value="false"/>
                        </div>
                        <div id="contact-p">
                            <label for="contactName">Contact name
                                <textarea class="auto-size" type="text"
                                          id="contactName">{{this.description.contact.name}}</textarea>
                            </label>
                            <label for="contactEmail">Contact email
                                <textarea class="auto-size" type="text"
                                          id="contactEmail">{{this.description.contact.email}}</textarea>
                            </label>
                            <label for="contactPhone">Contact phone
                                <textarea class="auto-size" type="text"
                                          id="contactTelephone">{{this.description.contact.telephone}}</textarea>
                            </label>
                        </div>
                        <div id="survey-p">
                            <label for="survey">Survey name
                                <textarea class="auto-size" type="text"
                                          id="survey">{{this.description.surveyName}}</textarea>
                            </label>
                        </div>
                        <div id="frequency-p">
                            <label for="frequency">Frequency
                                <textarea class="auto-size" type="text"
                                          id="frequency">{{this.description.frequency}}</textarea>
                            </label>
                        </div>
                        <div id="compilation-p">
                            <label for="compilation">How compiled
                                <textarea class="auto-size" type="text"
                                          id="compilation">{{this.description.compilation}}</textarea>
                            </label>
                        </div>
                        <div id="geoCoverage-p">
                            <label for="geoCoverage">Geographic coverage
                                <textarea class="auto-size" type="text"
                                          id="geoCoverage">{{this.description.geographicCoverage}}</textarea>
                            </label>
                        </div>
                        <div id="sampleSize-p">
                            <label for="sampleSize">Sample size
                                <textarea class="auto-size" type="text"
                                          id="sampleSize">{{this.description.sampleSize}}</textarea>
                            </label>
                        </div>
                        <div class="lastRevised-p">
                            <label for="lastRevised">Last revised
                                <input type="text" id="lastRevised" placeholder="Day month year"
                                       value="{{this.description.lastRevised}}"/>
                            </label>
                        </div>
                        <div class="release-date">
                            <label for="releaseDate">Last updated
                                <input id="releaseDate" type="text" placeholder="Day month year"
                                       value="{{this.description.releaseDate}}"/>
                            </label>
                        </div>
                        <div id="reference-p">
                            <label for="reference">Reference
                                <textarea class="auto-size" type="text"
                                          id="reference">{{this.description.reference}}</textarea>
                            </label>
                        </div>
                        <div>
                            <label for="keywords">Keywords
                                <input name="tags" id="keywords" value="{{this.description.keywords}}"
                                       style="display: none;">
                            </label>
                            <ul id="keywordsTag"></ul>
                        </div>
                        <div>
                            <label for="metaDescription">Meta description
                                <textarea class="auto-size" type="text"
                                          id="metaDescription">{{this.description.metaDescription}}</textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tags"></div>

            <div id="content"></div>

            <div id="charts"></div>

            <div id="tables"></div>

            <div id="equations"></div>

            <div id="images"></div>

            <div id="pdfFile"></div>

            <div id="document"></div>

            <div id="dataset"></div>

            <div id="file"></div>

            <div id="link"></div>

            <div id="alert"></div>

        </div>

        <nav class="edit-nav">
            {{> editNav}}
        </nav>
    </form>
</section>