<section class="panel workspace-edit">

    <div class="child-page">
        <p class="child-page__content">This is a sub-page of <span class="child-page__title"></span></p>
    </div>

    <div class="edit-accordion">

        <div class="edit-section">
            <div class="edit-section__head">
                <h1>Metadata</h1>
                <p id="metadata-a">Title | Contact | Abstract | Keywords</p>
            </div>
            <div class="edit-section__content">
                <div id="metadata-list">
                    <div>
                        <label for="title">Title
                            <textarea class="auto-size" type="text" id="title">{{this.description.title}}</textarea>
                        </label>
                    </div>
                    <div class="edition">
                        <label for="edition">Headline
                            <textarea class="auto-size" type="text"
                                      id="headline">{{this.description.headline}}</textarea>
                        </label>
                    </div>
                    <div class="release-date">
                        <label for="releaseDate">Release date
                            <input id="releaseDate" type="text" placeholder="Day month year"
                                   value="{{this.description.releaseDate}}"/>
                        </label>
                    </div>
                    <div class="next-p">
                        <label for="nextRelease">Next release
                            <textarea class="auto-size" type="text"
                                      id="nextRelease">{{this.description.nextRelease}}</textarea>
                        </label>
                    </div>
                    <div>
                        <label for="contactName">Contact name
                            <textarea class="auto-size" type="text"
                                      id="contactName">{{this.description.contact.name}}</textarea>
                        </label>
                    </div>
                    <div>
                        <label for="contactEmail">Contact email
                            <textarea class="auto-size" type="text"
                                      id="contactEmail">{{this.description.contact.email}}</textarea>
                        </label>
                    </div>
                    <div>
                        <label for="contactTelephone">Contact telephone
                            <textarea class="auto-size" type="text"
                                      id="contactTelephone">{{this.description.contact.telephone}}</textarea>
                        </label>
                    </div>
                    <div id="abstract-p">
                        <label for="abstract">Abstract
                            <textarea class="auto-size" type="text"
                                      id="abstract">{{this.description._abstract}}</textarea>
                        </label>
                    </div>
                    <div id="natStat">
                        <label for="natStat-checkbox">Accredited official statistics </label>
                        <input id="natStat-checkbox" type="checkbox" name="natStat" value="false"/>
                    </div>
                    <div>
                        <label for="keywords">Keywords
                            <input name="tags" id="keywords" value="{{this.description.keywords}}"
                                   style="display: none;">
                        </label>
                        <ul id="keywordsTag"></ul>
                    </div>
                    <div>
                        <label for="metaDescription">Meta description
                            <textarea class="auto-size" type="text"
                                      id="metaDescription">{{this.description.metaDescription}}</textarea>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="section"></div>

        <div id="tab"></div>

        <div id="charts"></div>

        <div id="tables"></div>

        <div id="equations"></div>

        <div id="images"></div>

        <div id="document"></div>

        <div id="data"></div>

        <div id="topics"></div>

        <div id="link"></div>

        <div id="qmi"></div>

        <div id="methodology"></div>

        <div id="pdf"></div>

        <div id="correction"></div>

        <div id="alert"></div>

    </div>

    <nav class="edit-nav">
        {{> editNavChild}}
    </nav>

</section>