<section class="panel workspace-edit">
    <div class="edit-form">
        <div class="edit-accordion">
            <div class="edit-section">
                <div class="edit-section__head">
                    <h1>Metadata</h1>
                    <p id="metadata-a">Title | Contact | Abstract | Keywords | Census</p>
                </div>
                <div class="edit-section__content">
                    <div id="metadata-list">
                        <div>
                            <label for="title">Title
                                <textarea class="auto-size" type="text" id="title">{{this.description.title}}</textarea>
                            </label>
                        </div>
                        <div class="edition">
                            <label for="edition">Edition
                                <textarea class="auto-size" type="text"
                                          id="edition">{{this.description.edition}}</textarea>
                            </label>
                        </div>

                        {{#unless this.isPrototypeArticle}}
                        <div class="release-date">
                            <label for="releaseDate">Release date
                                <input id="releaseDate" type="text" placeholder="Day month year"
                                       value="{{this.description.releaseDate}}"/>
                            </label>
                        </div>
                        {{else}}
                        {{#if this.isReleaseDateEnabled}}
                        <div class="release-date">
                            <label for="releaseDate">Release date
                                <input id="releaseDate" type="text" placeholder="Day month year"
                                       value="{{this.description.releaseDate}}"/>
                            </label>
                        </div>
                        {{/if}}
                        {{#if_null this.isReleaseDateEnabled}}
                            <div class="release-date">
                            <label for="releaseDate">Release date
                                <input id="releaseDate" type="text" placeholder="Day month year"
                                       value="{{this.description.releaseDate}}"/>
                            </label>
                        </div>
                        {{/if_null}}
                        {{/unless}}
                        <div class="next-p">
                            <label for="nextRelease">Next release
                                <textarea class="auto-size" type="text"
                                          id="nextRelease">{{this.description.nextRelease}}</textarea>
                            </label>
                        </div>
                        <div>
                            <label for="contactName">Contact name
                                <textarea class="auto-size" type="text"
                                          id="contactName">{{this.description.contact.name}}</textarea>
                            </label>
                        </div>
                        <div>
                            <label for="contactEmail">Contact email
                                <textarea class="auto-size" type="text"
                                          id="contactEmail">{{this.description.contact.email}}</textarea>
                            </label>
                        </div>
                        <div>
                            <label for="contactTelephone">Contact telephone
                                <textarea class="auto-size" type="text"
                                          id="contactTelephone">{{this.description.contact.telephone}}</textarea>
                            </label>
                        </div>
                        <div id="abstract-p">
                            <label for="abstract">Abstract
                                <textarea class="auto-size" type="text"
                                          id="abstract">{{this.description._abstract}}</textarea>
                            </label>
                        </div>
                        <div id="natStat">
                            <label for="natStat-checkbox">National statistic</label>
                            <input id="natStat-checkbox" type="checkbox" name="natStat" {{#if this.description.nationalStatistic}}checked{{/if}}/>
                        </div>
                        <div id="survey">
                            <label for="survey-checkbox">Census </label>
                            <input id="survey-checkbox" type="checkbox" name="survey" {{#if this.description.survey}}checked{{/if}}/>
                        </div>
                        <div>
                            <label for="keywords">Keywords
                                <input name="tags" id="keywords" value="{{this.description.keywords}}"
                                       style="display: none;">
                            </label>
                            <ul id="keywordsTag"></ul>
                        </div>
                        <div>
                            <label for="metaDescription">Meta description
                                <textarea class="auto-size" type="text"
                                          id="metaDescription">{{this.description.metaDescription}}</textarea>
                            </label>
                        </div>

                        <div style="background-color: #343B59; padding: 21px 0; margin: 0 21px;">
                            <div id="articleType">
                                <label for="articleType-checkbox">Neutral article</label>
                                <input id="articleType-checkbox" type="checkbox" name="articleType" {{#if this.isPrototypeArticle}}checked{{/if}}/>
                            </div>
                            <div id="releaseDateEnabled">
                                <label for="releaseDateEnabled-checkbox">Release date enabled</label>
                                <input id="releaseDateEnabled-checkbox" type="checkbox" name="releaseDateEnabled" 
                                {{#unless this.isPrototypeArticle}}
                                {{else}}
                                    {{#if this.isReleaseDateEnabled}}
                                        checked
                                    {{/if}}
                                    {{#if_null isReleaseDateEnabled}} {{!-- Does not exists --}}
                                        checked
                                    {{/if_null}}
                                {{/unless}}/>
                            </div>

                            {{#if this.isPrototypeArticle}}
                                {{#unless imageUri}}
                                <label for="neutral-article-image-upload">Upload article image
                                    <input style="color: #323232" type="file" id="neutral-article-image-upload" accept=".png, .jpg, .jpeg">
                                </label>

                                <button id="neutral-article-image-upload-submit" class="btn btn--primary margin-top--0" type="submit" value="Upload image">Upload image</button>

                                {{else}}
                                <div class="margin-left--1 margin-top--1">
                                    <p class="margin-left--0">Image preview (not actual size)</p>
                                    <img src="/resource?uri={{imageUri}}&width=250" />
                                </div>
                                    <button id="neutral-article-image-upload-delete" class="btn btn--warning margin-top--0" type="submit" value="Upload image">Delete image</button>
                                {{/unless}}
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>

            <div id="tags"></div>

            <div id="section"></div>

            <div id="tab"></div>

            <div id="charts"></div>

            <div id="tables"></div>

            <div id="equations"></div>

            <div id="images"></div>

            <div id="document"></div>

            <div id="data"></div>

            <div id="topics"></div>

            <div id="link"></div>

            <div id="qmi"></div>

            <div id="methodology"></div>

            <div id="pdf"></div>

            <div id="correction"></div>

            <div id="alert"></div>

        </div>

        <nav class="edit-nav">
            {{> editNav}}
        </nav>
    </div>
</section>