                <span class="refresh-text">
                    <label for="chart-title">Title
                        <input type="text" id="chart-title" class="half" placeholder="[Title]" value="{{title}}"/>
                    </label>
                    <label for="chart-subtitle">Sub-title
                        <input type="text" id="chart-subtitle" class="half" placeholder="[Subtitle]" value="{{subtitle}}"/>
                    </label>
                    <label for="chart-source">Source
                        <input type="text" id="chart-source" placeholder="[Source]" class="half" value="{{source}}"/>
                    </label>
                </span>

                <label for="chart-unit">Units
                    <input type="text" id="chart-unit" class="refresh-chart half" placeholder="[Unit]" value="{{unit}}"/>
                </label>
                <label for="chart-alt-text">X axis label</label>
                <input type="text" id="chart-x-axis-label" style="width: 99.7%" class="refresh-chart"
                   placeholder="[X axis label]" value="{{xAxisLabel}}"/>



                <label for="chart-alt-text">Alt text</label>
                <textarea id="chart-alt-text" class="refresh-text" placeholder="[Alt text]">{{altText}}</textarea>

                <label for="chart-notes">Notes</label>
                <textarea id="chart-notes" class="refresh-text" placeholder="Add chart notes here" rows="4"
                      cols="120">{{notes}}</textarea>
Sample markdown:[I'm an inline-style link with title](https://www.ons.gov.uk "ONS Homepage")
            